# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

x64/
/.vs/TARZAN/CopilotIndices/17.13.433.20974
/.vs/TARZAN/FileContentIndex
/.vs/TARZAN/v17/ipch
/.vs/TARZAN/v17
/.vs
